table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background: rgba(255,255,255,0.5);
  width: auto;

}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.pollIdClass{
     background: rgba(255,255,255,0.8);

}
.my_poll {
    background: rgba(255,255,255,0.8);
}